<template ref="component">
  <require from="./game-board.css"></require>

  <div class="round">
    <h1 if.bind="!winner">${current_player}'s Turn</h1>
  </div>

  <div class="board" if.bind="!winner">
    <div class="row">
      <div class="cell" click.delegate="cellClick(0)">${cells[0]}</div>
      <div class="cell" click.delegate="cellClick(1)">${cells[1]}</div>
      <div class="cell" click.delegate="cellClick(2)">${cells[2]}</div>
    </div>
    <div class="row">
      <div class="cell" click.delegate="cellClick(3)">${cells[3]}</div>
      <div class="cell" click.delegate="cellClick(4)">${cells[4]}</div>
      <div class="cell" click.delegate="cellClick(5)">${cells[5]}</div>
    </div>
    <div class="row">
      <div class="cell" click.delegate="cellClick(6)">${cells[6]}</div>
      <div class="cell" click.delegate="cellClick(7)">${cells[7]}</div>
      <div class="cell" click.delegate="cellClick(8)">${cells[8]}</div>
    </div>
  </div>

  <div if.bind="winner" class="winner">
    <h1>${winner} is the winner!</h1>
  </div>
  <div if.bind="winner">
    <button click.delegate="playAgain()">Play Again?</button>
  </div>

  <slot></slot>
</template>
