game-board {
  .board {
    width: 90vw;
    height: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #5b80b2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      .cell {
        height: 28vw;
        width: 28vw;
        background-color: white;
        font-family: sans-serif;
        font-size: 15vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: pink;
        }
      }
    }
  }
    .round {
    width: 90vw;
    height: 4vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
  }
  .winner {
    width: 90vw;
    height: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff00a1;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 5vw;
  }
}
