<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tick Tack Toe</title>
</head>
<body aurelia-app="main">

    <game-board current_player="{{ current_player }}"
                board="{{ board }}"
                winner="{{ winner }}"
                restart_url="{{ restart_url }}">

        <form method="post" style="display: none">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
        </form>

    </game-board>

    <script src="/static/scripts/vendor-bundle.js"></script>
    <script>SystemJS.import("aurelia-bootstrapper").catch(function(err) { console.log(err); })</script>

</body>
</html>